// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul li {display:inline; color:#ffffff; font-family: 'Raleway', sans-serif; padding:20px; }
#getStartedBtn {background-color:#505050; color:#ffffff; font-family: 'Raleway', sans-serif}
.header .container ul {margin:0px; padding:20px}
.footer {padding-left:20px}